@model ReportConverter.Models.BigViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <link href="~/Content/css/bootstrap-editable.css" rel="stylesheet" type="text/css" />
    <script src="~/Content/js/bootstrap-editable.js"></script>
    <script src="~/Content/js/typeaheadjs.js"></script>
</head>
<body>

    <br />

    @using (Html.BeginForm("Index", "EDIFACTMapping", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="col-lg-12">
            <span>Select File:</span>
            <input type="file" name="postedFile" />
        </div>
        
        <div class="col-lg-12">
            <hr />
        </div> 
@*<p>Partner : </p>  @Html.TextBoxFor(m => m.Partner)
                       
            <p>Country : </p>  @Html.TextBoxFor(m => m.Country)  
            
            <p>Report Type : </p>@Html.TextBoxFor(m => m.ReportType)             
            *@
        <div class="col-lg-3">
            <p>Separator : </p>@Html.TextBoxFor(m => m.ReportHeader.ElementSeparator)
        </div>
        <div class="col-lg-3">
            <p>New Line Separator : </p>@Html.TextBoxFor(m => m.ReportHeader.NewlineSeparator)
        </div>
        <div class="col-lg-3">
            <p>SubElement Separator : </p>@Html.TextBoxFor(m => m.ReportHeader.SubElementSeparator)
        </div>
        
        <div class="col-lg-3">
            <input type="submit" value="Generate Preview" />
        </div>
    }


    <div class="col-lg-12">
        <hr />
    </div>

    <div class="col-lg-12">
        <div id="preview" class="col-lg-6">
            Click any field to start mapping :
        <br />
            @{
                if (ViewBag.LabelMatrix != null)
                {
                    int i = 0;
                    int j = 0;
                    foreach (var line in ViewBag.LabelMatrix)
                    {
                <row id=@(i)>
                @{j = 0;}
               @foreach (var label in line)
               {
                   <a href="#" id =@(j)>@label</a>
                   @ViewBag.Separator
                   { j++; }
               } 
               @{i++;}
            </row>
                <br />
                    }
                }
            }
        </div>

        <div class="col-lg-6">
            Preview table :
        <br />
            <div id="refTable" class="col-lg-5">
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <hr />
    </div>


    @using (Html.BeginForm("Save_Mapping", "EDIFACTMapping", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="col-lg-12">
            <div class="col-lg-3">
                <p>Partner : </p>
                @Html.TextBoxFor(m => m.ReportHeader.PartnerName)
            </div>

            <div class="col-lg-3">
                <p>Country : </p>
                @Html.TextBoxFor(m => m.ReportHeader.Country)
            </div>

            <div class="col-lg-3">
                <p>Report Type : </p>@Html.TextBoxFor(m => m.ReportHeader.ReportType)
            </div>

            <div class="col-lg-3">
                <input type="submit" value="Save Mapping" />
            </div>
        </div>
        
        <div class="col-lg-12">
            
        </div>
        
    }


    @*@Html.ActionLink("Save Mapping", "Save_Mapping", "Mapping", null, new { @class = "btn btn-default" })*@

    @if (ViewBag.NoFileMessage != null)
    {
        <script>
            $(document).ready(function () {

                alert('@ViewBag.NoFileMessage');

            });
        </script>
    }
</body>

@*<script>
    $('#preview').editable({
        selector: 'a',
        validate: function (value) {
            if ($.trim(value) == '') return 'This value is required.';
        },
        value: "",
        //highlight: '#DAF7A6',
        pk: "1",
        url: '/EDIFACTMapping/xEditable/',
        type: 'text',
        title: 'What field is this ?',
        contentType: 'application/json; charset=utf-8',
        params: function (params) {
            //var line = $(this).attr("id");
            var data = {};
            //$(this).css('color', 'green');
            data['clicked_id'] = $(this).attr("id");
            data['clicked_parentid'] = $(this).parent().attr("id");
            data['value'] = params.value;
            data: JSON.stringify(data);
            return data;
        }
    });
</script>*@

<script>
    $(document).ready(function () {
        $('#preview').editable({
            selector: 'a',
            validate: function (value) {
                if ($.trim(value) == '') return 'This value is required.';
            },
            value: "",
            //highlight: '#DAF7A6',
            pk: "1",
            url: '/EDIFACTMapping/xEditable/',
            type: 'text',
            title: 'What field is this ?',
            contentType: 'application/json; charset=utf-8',
            params: function (params) {
                //var line = $(this).attr("id");
                var data = {};
                //$(this).css('color', 'green');
                data['clicked_id'] = $(this).attr("id");
                data['clicked_parentid'] = $(this).parent().attr("id");
                data['value'] = params.value;
                data: JSON.stringify(data);
                return data;
            },
            success: updateTable
        });

        function updateTable(result) {
            //alert(result);
            $("#refTable").html(result);
        }
    });


</script>


</html>

